doctype html
html
    head
        title Learn JavaScript
    body
        h1 JavaScript
        button(type = "button" onclick = "message('hello world')") Click it
    script
      include index.js
    if config.entry.css.external
      link(rel="stylesheet", hrefef=`${baseUrl}style.css`)